bleak==3.0.2
pyobjc-core==12.2.2; sys_platform == 'darwin'
pyobjc-framework-Cocoa==12.2.2; sys_platform == 'darwin'
pyobjc-framework-CoreBluetooth==12.2.2; sys_platform == 'darwin'
pyobjc-framework-libdispatch==12.2.2; sys_platform == 'darwin'
